body{
    background-color:rgb(8, 48, 8) ;
    color: rgb(243, 243, 243);
    font-family:"Bai Jamjuree", sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 700px;
    margin: 0;

}


button{
    background-color: rgb(25, 126, 42);
    color: rgb(3, 3, 3);
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align:center;
    max-width:70%;
}

img{
    max-width: 80%;
}


